
.game {
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;
    color: white;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr) ;
    float: left;
    margin-left: 20px;
}

.game > div{
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tabuleiros{
    width: inherit;
    justify-content: center;
    text-align: center;
    display: flex;
    align-self: center;
}

.actions {
    padding: 1.5rem;
    width: auto;
    justify-content: center;
    display: flex;
}

.title {
    width: auto;
    justify-content: center;
    flex-direction: column;
    float: left;
}

.title1 {
    width: auto;
    justify-content: center;
    display: flex;
}

.teste {
    text-align: center;
}

.main {
    background-color: #f0f0f0;
}

button {
    margin: 0 1rem;
}

.btnAleatorio{
    background-color: #F57F17;
}

.btnJogar{
    background-color: #01579B;
}

.btnSolve{
    background-color: #1B5E20;
}

html, body {margin:0;padding:0;height:100%; width: 100%;}